.menu {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: inline-block;
    width: 72px;
    background-color: #f5f5f5;
    z-index: 998;
}

.menu-button {
    margin: 16px 0 8px 16px;
    padding: 4px;
    padding-bottom: 8px;
    cursor: pointer;
    display: none;
    position: relative;
    top: 16px;
    z-index: 999;
}
.menu-button:hover {
    background-color: rgba(0,0,0,0.1);
}

.hidden {
    position: absolute;
    left: -310px;
    transition: ease-in 300ms;
}

#menu-whitespace-target {
    transition: linear 300ms;
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 300px;
        max-width: 100%;
        box-shadow: 1px 1px 5px 1px lightgray;
        padding-top: 32px;
        transition: ease-out 300ms;
    }

    .menu-button {
        display: inline;
    }

    #menu-whitespace-target {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }
}

@media only screen and (min-width: 1360px) {
    .menu {
        width: 200px;
    }
}
